html,
body {
    height: 100%;
    font-family: 'ThaiSansNeueRegular' !important;
}
@font-face {
    font-family: "ThaiSansNeueRegular";
    src:url('../fonts/ThaiSansNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "ThaiSansNeueBold";
    src:url('../fonts/ThaiSansNeue-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ThaiSansNeueItalic";
    src:url('../fonts/ThaiSansNeue-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.thumbnail .caption ,
.navbar-nav > li > a ,
.navbar-brand,
.copyright,
.site-info
{
    font-size: 19px;
}
.site-title{
    font-family: 'ThaiSansNeueRegular' !important;
    font-size: 50px !important;
    text-shadow: none;
    text-decoration: none !important;
}
.site-description{
    font-family: 'ThaiSansNeueRegular' !important;
    font-size: 24px !important;
}
p.site-title >a:focus,
p.site-title >a:hover,
p.site-title >a:active
{
    text-shadow: none;
    text-decoration: none !important;
}
.panel-title{
    font-size: 20px;
    font-family: 'ThaiSansNeueRegular' !important;
}
.panel-title>a:hover{
    text-shadow: none;
    text-decoration: none !important;
}
.title{
    font-size: 24px;
}
.desc{
    font-size: 20px;
    outline: none;
}
img {
    display: block;
    margin: 0 auto;
}
.thumbnail
{
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}

.dropup, .dropdown{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#boxshadow::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
    width: 70%; 
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}
.panel-primary{
    box-shadow: 10px 10px 5px grey;
}
h4{
    font-size: 30px;
    font-family: 'ThaiSansNeueRegular' !important;
}
.dropup, .dropdown{
    font-size: 20px;
    font-family: 'ThaiSansNeueRegular' !important;
}
.c-section{
    font-size: 20px;
    font-family: 'ThaiSansNeueRegular' !important;
}
h2{
    font-size: 60px;
    font-family: 'ThaiSansNeueRegular' !important;
}
.carousel-caption{
    font-size: 24px;
    font-family: 'ThaiSansNeueRegular' !important;
}
h3{
    font-size: 55px;
    font-family: 'ThaiSansNeueRegular' !important;
    text-shadow: none;
    text-decoration: none !important;
}
.nav{
    font-size: 20px;
    font-family: 'ThaiSansNeueRegular' !important;
}

